@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media screen(md) {
	:root {
		font-size: 85%;
	}
}

@media screen(sm) {
	:root {
		font-size: 90%;
	}
}
